@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	:root {
		color-scheme: light;

		--color-background: 0 0% 100%;
		--color-background-hover: 240 5% 96%;

		--color-content: 240 10% 4%;
		--color-accent: 243 75% 59%;

		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	#root {
		@apply overflow-hidden bg-background h-svh text-content;
	}
}

.debug,
.debug * {
	border: 1px solid red;
}
