extends base

block content
  main.h-screen.flex.flex-col.items-center.justify-center.gap-5
    div
      a(href="/login", rel="noopener noreferrer" class="underline") login
    div
      a(href="/signup", rel="noopener noreferrer" class="underline") signup