html
  head
    title login
    script(src="https://cdn.tailwindcss.com")
  body
    h1 login
    form
      input(type="email", name="email" placeholder="Email")
      input(type="password", name="password" placeholder="Password")
      input(type="submit", value="Login").bg-blue-500.text-white.px-4.py-1.rounded.cursor-pointer

    script(src="js/login.js")
