extends base

block content
  main(class='text-neutral w-2/3 mx-auto pt-12')
    div.mb-12
      h1.font-medium Benvenuto #{user.nominativo}
      h4.font-bold.text-4xl Prenotazioni

    div.grid.grid-cols-4.gap-8.font-medium.text-lg
      div.bg-gray-100.rounded azioni

      div.bg-gray-100.rounded.col-span-3
        div.grid.grid-cols-5.text-sm.py-4
          p cliente
          p email
          p check-in
          p check-out
          p prezzo_totale
        div.grid.py-4#list

  script(src="https://cdn.tailwindcss.com")
  script(src="js/prenotazioni.js") 