extends base

block content
  main(class='text-neutral w-2/3 mx-auto pt-12')
    div.mb-12
      h1.font-medium Benvenuto #{user.nominativo}
      h4.font-bold.text-4xl Prenotazioni

    div.grid.grid-cols-2.gap-8.font-medium.text-lg
      div.flex.items-center.justify-center.bg-gray-100.rounded
        a(href='/route' class='block w-full p-6 text-center') aggiungi
      div.flex.items-center.justify-center.bg-gray-100.rounded
        a(href='/route' class='block w-full py-6 text-center') lista

  script(src="https://cdn.tailwindcss.com")